.navbar {
    border-radius: 10px;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.menu{
    height: 100vh;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #F1F1F1;
    font-size: 1rem;
    justify-items: center;
}